---
// Año actual
const year = new Date().getFullYear();

// Enlaces del footer
const footerLinks = [
  { name: "Inicio", link: "/" },
  { name: "Nosotros", link: "/#Nosotros" },
  { name: "Soluciones", link: "/#Soluciones" },
  { name: "Proceso", link: "/#Proceso" },
  { name: "Testimonio", link: "/#Testimonios" },
];
---

<footer class="border-t bg-[#112f59]">
  <div
    class="container px-4 md:px-6 mx-auto flex flex-col gap-4 py-10 md:flex-row md:items-center md:justify-between md:py-12"
  >
    <!-- Logo y descripción -->
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <div class="rounded-full bg-white p-2 flex items-center justify-center">
          <img
            src="/image/logotipoGS.png"
            alt="General System Logo"
            width="55"
            height="55"
            class="rounded-full"
          />
        </div>
        <span class="text-3xl font-bold text-white">General System</span>
      </div>
      <p class="text-sm text-gray-300 font-medium">
        Soluciones de software a medida para impulsar tu negocio.
      </p>
    </div>

    <!-- Enlaces del footer -->
    <div class="flex flex-col gap-2 md:flex-row md:gap-4">
      {
        footerLinks.map((item) => (
          <a
            href={item.link}
            class="text-xl text-gray-300 hover:text-white font-medium"
          >
            {item.name}
          </a>
        ))
      }
    </div>
  </div>

  <!-- Derechos reservados -->
  <div
    class="container px-4 md:px-6 mx-auto flex justify-center items-center gap-4 border-t border-gray-500 mt-5 py-5"
  >
    <p class="text-sm text-gray-300">
      © {year} General System. Todos los derechos reservados.
    </p>
  </div>
</footer>
