---

const year = new Date().getFullYear();


const footerLinks = [
  { name: "Inicio", link: "/" },
  { name: "Nosotros", link: "/#Nosotros" },
  { name: "Soluciones", link: "/#Soluciones" },
  { name: "Proceso", link: "/#Proceso" },
  { name: "Testimonio", link: "/#Testimonios" },
];

import IconPhone from "./icon/IconPhone.astro";
import IconMail from "./icon/IconMail.astro"
import IconMapPoint from "./icon/IconMapPoint.astro"
---

<footer class="bg-[#112f59] border-t border-gray-200 py-12">
  <div class="container mx-auto px-4 md:px-6 flex flex-col md:flex-row justify-between items-center">

<div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <div class="rounded-full bg-white p-2 flex items-center justify-center">
          <img
            src="/image/logotipoGS.png"
            alt="General System Logo"
            width="55"
            height="55"
            class="rounded-full"
          />
        </div>
        <span class="text-3xl font-bold text-white">General System</span>
      </div>
      <p class="text-sm text-gray-300 font-medium">
        Soluciones de software a medida para impulsar tu negocio.
      </p>
    </div>


    <div class="flex flex-col md:flex-row gap-8 mt-8 md:mt-0">
      <div>
        <h6 class="font-bold text-white mb-4">Sobre Nosotros</h6>
        <ul class="text-gray-500">
          <li><a href="/politica-de-privacidad" class="underline text-white/80 hover:text-white/90">Política de privacidad</a></li>
          <li><a href="/terminos-y-condiciones" class="underline text-white/80 hover:text-white/90">Términos y condiciones</a></li>
        </ul>
      </div>

      <div>
        <h6 class="font-bold text-white mb-4 ">Centro de ayuda</h6>
        <ul class="text-gray-500">
          <li class="text-white/80">Asistencia en linea:</li>
          <li class="flex items-center gap-2 text-white/80"><IconPhone />+51 935 289 770</li>
          <li class="text-white/80">Correo de contacto:</li>
          <li class="flex items-center gap-2 text-white/80"><IconMail />generalsystemsas@gmail.com</li>
          <li class="text-white/80">Libro de Reclamaciones</li>
          <a href="">
          <div class="w-25 h-20 flex justify-center items-center bg-white rounded-md shadow mt-2"><img src="/image/IconBookClaims.svg" class="w-23" alt="Logo de Scale"></div>
          </a>
        </ul>
      </div>

       <div>
        <h6 class="font-bold text-white mb-4">Contacto</h6>
        <ul class="text-white/80">
          <li class="flex items-center"><IconMapPoint />Dirección de la empresa:</li>
          <li>Tupac Yupanqui 143 Amarilis Huánuco Peru</li>
        </ul>
      </div>
    </div>

  </div>
  <div class=" flex justify-center mt-5 pt-10 border-t-2 border-[#112f59]">
   <p class="p-4 text-sm text-white/80">© {year} General System. Todos los derechos reservados.</p>
   </div>
</footer>

