---
import IconDevCode from "./icon/IconDevCode.astro";
import IconHeadset from "./icon/IconHeadset.astro";
import Iconsettings from "./icon/Iconsettings.astro";
import IconUnplug from "./icon/IconUnplug.astro";
import IconPrintFinger from "./icon/IconPrintFinger.astro";
import IconShield from "./icon/IconShield.astro";
import IconTicket from "./icon/IconTicket.astro";
import IconSeal from "./icon/IconSeal.astro";
import IconDigital from "./icon/IconDigital.astro";
import IconSiren from "./icon/IconSiren.astro";
import IconUserVeri from "./icon/IconUserVeri.astro";
---

<section id="Soluciones" class="pt-12 md:pt-16 mt-20 scroll-mt-12">
  <div class="container px-4 md:px-6 mx-auto">
    <!-- Header Section -->
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-[#112f59]"
        >
          Nuestras Soluciones
        </h2>
        <p
          class="mx-auto max-w-[700px] text-gray-600 md:text-xl leading-relaxed"
        >
          Ofrecemos una gama de servicios diseñados para impulsar tu negocio:
        </p>
      </div>
    </div>

    <!-- Services Grid -->
    <div class="mx-auto grid max-w-5xl grid-cols-1 gap-8 md:grid-cols-2 mt-12">
      <!-- Service 1 -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconDevCode />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">
            Desarrollo de software a medida
          </h3>
          <p class="text-gray-600 mt-2">
            Creamos soluciones personalizadas que se adaptan perfectamente a los
            procesos y necesidades específicas de tu empresa.
          </p>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconUnplug />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">
            Integración de sistemas
          </h3>
          <p class="text-gray-600 mt-2">
            Conectamos tus aplicaciones existentes para crear un ecosistema
            digital coherente y eficiente.
          </p>
        </div>
      </div>

      <!-- Service 3 -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconHeadset />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">
            Consultoría tecnológica
          </h3>
          <p class="text-gray-600 mt-2">
            Consultoría tecnológica para Mypes, Pymes y proyectos innovadores
            que buscan digitalizar procesos y optimizar su crecimiento con
            tecnología.
          </p>
        </div>
      </div>

      <!-- Service 4 -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconUserVeri />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">
            Procesos de onboarding de validadcion de identidad
          </h3>
          <p class="text-gray-600 mt-2">
            Validación de identidad con comparación biométrica entre el rostro y
            la foto del DNI, prueba de vida y detección de deepfakes para máxima
            seguridad.
          </p>
        </div>
      </div>
      <!-- Service 5 -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconPrintFinger />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">
            Biometría y Firma Digital Certificada
          </h3>
          <p class="text-gray-600 mt-2">
            Soluciones biométricas para validar identidad, firmar documentos y
            notificar electrónicamente, con respaldo legal y certificación
            oficial.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Soluciones" class="py-9 md:py-11 scroll-mt-12">
  <div class="container px-4 md:px-6 mx-auto">
    <!-- Header Section -->
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-[#112f59]"
        >
          Consultoría PKI
        </h2>
        <p
          class="mx-auto max-w-[700px] text-gray-600 md:text-xl leading-relaxed"
        >
          Infraestructura de Claves Pública (PKI): Seguridad e Identidad Digital
          Garantizada.
        </p>
      </div>
    </div>

    <!-- Services Grid -->
    <div class="mx-auto grid max-w-5xl grid-cols-1 gap-8 md:grid-cols-2 mt-12">
      <!-- Autoridad de Certificación -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconShield />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">
            Autenticación Robusta:
          </h3>
          <p class="text-gray-600 mt-2">
            Verifique con certeza la identidad de usuarios y sistemas.
          </p>
        </div>
      </div>

      <!-- Autoridad de Registro -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconSiren />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">Integridad de Datos:</h3>
          <p class="text-gray-600 mt-2">
            Asegure que la información no sea alterada.
          </p>
        </div>
      </div>

      <!-- Autoridad de Validación -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconTicket />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">No Repudio:</h3>
          <p class="text-gray-600 mt-2">
            Genere pruebas irrefutables de las transacciones.
          </p>
        </div>
      </div>

      <!-- Autoridad de Sellado de Tiempo -->
      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconSeal />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">Confidencialidad:</h3>
          <p class="text-gray-600 mt-2">
            Proteja sus comunicaciones mediante cifrado.
          </p>
        </div>
      </div>

      <div class="flex items-start space-x-4">
        <div class="rounded-lg bg-[#2b8dcc]/10 p-3">
          <IconDigital />
        </div>
        <div>
          <h3 class="text-xl font-bold text-[#112f59]">
            Cumplimiento Regulatorio:
          </h3>
          <p class="text-gray-600 mt-2">
            Alinee sus operaciones con las normativas vigentes.
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center mt-5">
      <a
        href="/pki"
        class="border border-[#2b8dcc] text-[#2b8dcc] hover:bg-[#2b8dcc]/10 px-8 py-6 text-lg rounded-lg"
      >
        Conoce más
      </a>
    </div>
  </div>
</section>
