---
import { getCollection } from 'astro:content';
import BlogCard from './blogcard.astro';
import type { CollectionEntry } from 'astro:content';

// Obtén los posts de la colección "blog_contenido"
const posts: CollectionEntry<'blog_contenido'>[] = await getCollection('blog_contenido');

console.log("Posts obtenidos:", posts);
---
{posts.length === 0 ? (
  <p class="text-center text-gray-600">No se encontraron artículos.</p>
) : (
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {posts.map((post) => (
      <BlogCard 
        title={post.data.title}
        date={post.data.date.toString()}
        summary={post.data.resume}
        url={`/blog/${post.id.replace(/\.md$/, '')}`}
      />
    ))}
  </div>
)}