---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import '@fontsource-variable/montserrat';
---

<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>
  Términos y Condiciones de Uso | General System - Software Empresarial
  </title>
  <meta
  name="description"
  content="Lee los términos y condiciones de General System. Información sobre el uso de nuestro software y servicios. GENERAL SYSTEM SAS S.A.C.S"
  />

  <meta
  property="og:title"
  content="Términos y Condiciones de Uso | General System - Software Empresarial"
  />
  <meta
  property="og:description"
  content="Lee los términos y condiciones de General System. Información sobre el uso de nuestro software y servicios. GENERAL SYSTEM SAS S.A.C.S"
  />
  <meta property="og:image" content="/image/LogoHero.png" />
  <meta property="og:url" content="https://generalsystem.com/terminos-y-condiciones" />
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta
  name="twitter:title"
  content="Términos y Condiciones de Uso | General System - Software Empresarial"
  />
  <meta
  name="twitter:description"
  content="Lee los términos y condiciones de General System. Información sobre el uso de nuestro software y servicios. GENERAL SYSTEM SAS S.A.C.S"
  />
  <meta property="twitter:image" content="/image/LogoHero.png" />

  <link rel="canonical" href="https://generalsystem.com/terminos-y-condiciones" />

  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Términos y Condiciones de Uso",
  "url": "https://generalsystem.com/terminos-y-condiciones",
  "isPartOf": {
  "@type": "WebSite",
  "name": "General System",
  "url": "https://generalsystem.com/"
  }
  }
  </script>

  <link
  rel="icon"
  media="(prefers-color-scheme: light)"
  type="image/svg+xml"
  href="/favicond.svg"
  />
  <link
  rel="icon"
  media="(prefers-color-scheme: dark)"
  type="image/svg+xml"
  href="/favicon.svg"
  />
  <meta name="generator" content={Astro.generator} />
 </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
      font-family: 'Montserrat Variable', sans-serif;
    }
  </style>
</html>
